nav{
    background-color: grey;
    opacity: 0.8;
    width: 100%;
    position: sticky;
    top: 0px;
 }
nav li{
    display: inline-block;
    text-decoration: none;
}
nav li a{
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px;
    padding: 0px 15px;
    color: black;
    font-size: 1.2em;
}
body{
    background-image: url(img/pizza-transformed.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    margin: 0px;
}
nav li a:hover{
    color: black;
    background-color: beige;
    width: fit-content;
}
.home{
    background-image: url(img/pizza-transformed.jpeg);
    background-attachment: fixed;
    position: relative;
}
.home h1{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    color: rgb(37, 14, 140);
    transform: translate(-50%,250%); 
    font-weight: bold; 
    
}
.home h1 span{
    display: inline-block;
    position: relative;
    left: 80px;
    padding: 0px 0px 10px 0px;
}
.home .gotomenu{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    color: rgb(204, 192, 255);
    transform: translate(-50%,600%); 
    font-weight: bold; 
    background-color: black;
    font-size: 1.2em;
    padding: 15px;
}
.home .gotomenu:hover{
    background-color: white;
    color: black;
}
.time{
    position: absolute;
    /* top: 50%; */
    left: 20px;
    color: rgb(204, 192, 255);
    transform: translate(0%, 3500%);
    background-color: black;
    font-size: 1.3em;
}

.menu{
    background-color: rgb(42, 27, 42);
    color: white;
    position: relative;
    top: 900px;
}
.menu h1{
   text-align: center;
   padding: 20px 20px 60px 20px;
}
.menu ul li{
    display: inline-block;
    text-decoration: none;
    padding: 0px;
}
.menu ul{
    position: relative;
    left: 50px;
    width: 60%;
    margin: auto;
}
.menu ul li button{
    padding: 10px 100px 10px 100px;;
    background-color: black;
    color: white;
}
.menu ul li button:hover{
    background-color: red;
    font-size: 1.1em;
}
.pizza a{
    color: white;
    text-decoration: none;
}
.Content{
    position: relative;
    width: 50.5%;
    margin: auto;
    color: black;
    background-color: white;
    background-clip: content-box;
    text-transform: uppercase;
    padding-bottom: 100px;
}
.hot{
    background-color: #f44336;
    color: white;
    border-radius: 2px;
    margin: 10px 10px;
}
.new{
    background-color: #f44336;
    color: white;
    border-radius: 2px;
    margin: 0px 10px;
}
.cost{
    position: relative;
    left: 700px;
    bottom: 40px;
    background-color: #616161;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    padding: 5px;
}
.Content h2{
    margin-left: 10px;
    margin-top: 10px;
}
.Content p{
    margin-left: 10px;
}
.popular{
    display: inline-block;
    background-color: #9e9e9e;
    color: black;
    border-radius: 4px;
    margin: 10px 10px;
}
.seasonal{
    display: inline-block;
    background-color: #9e9e9e;
    color: black;
    border-radius: 4px;
    margin: 10px 10px;
}
.about{
    color: white;
    background-color: #893d38;
    position: relative;
    top: 800px;
}
.about h1{
    padding: 50px;
    text-align: center;
}
.about p{
    width: 600px;
    line-height: 1.6;
    margin-left: 100px;
    font-size: 1.2em;
}
.about span{
    margin-left: 100px;
    font-size: 1.2em;
}
.cook{
    transform: translate(455%,-100%);
    vertical-align: top;
}
.interior{
    width: 80%;
    height: 40%;
    vertical-align: top;
    transform: translate(7%, 0%);
}
.timing{
    text-transform: uppercase;
    transform: translate(5.4%, 0%);
}
.timing p{
    transform: translate(-16.2%, 0%);
}
.weekend{
    transform: translate(50%, -113%);
}
.timing h2{
    padding-bottom: 20px;
}
.city{
    width: 102%;
    height: 80%;
    transform: translate(-6%, -10%);
}